/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
 html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 18px;
  margin: 30px;
}

article {

}

h1 {
  font-size: 20px;
}

h2 {

}

img {
	max-width: 100%;
  margin-bottom: 30px;
  
}

main {

}

section {

}

figure {
	margin: 0;
}

figcaption {
  font-size: .8em;
}

@media (min-width:768px){
  body{
    background-color: lightblue;
    font-size: 1.8em;
    margin: 40px;
    text-align: justify;
  }
  h1{
    font-size: 2em;
  }
  section{
    display: flex;
    flex-flow: column wrap;
    height: 1000px;
  }
  figure{
    width: 250px;
    align-self: center;
  }
}

@media (min-width:1024px){
  body{
    background-color: lightcoral;
    font-size: 2em;
    margin: 50px;
    text-align: justify;
    max-width: 90%;
  }
  h1, h2{
    text-align: center;
  }
}

@media (max-width:768px){
  body{
    background-color: lightgreen;
    font-size: 1.5em;
    text-align: justify;
    max-width: 100%;
  }
  h1, h2{
    font-size: xx-large;
    text-align: center;
  }
  section{
    display: flex;
    flex-flow: column wrap;
    height: 1000px;
  }
  figure{
    width: 250px;
    align-self: center;
  }
  img{
    padding: 10px;
  }
  
}