html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* .header-container{
  background-color: #A26000; 
  display: flex;
  flex-wrap: wrap;
  height: 50px;
  justify-content: space-between;
} 
.header-container p {
  margin-left: 30px;
}
.header-ul{
  display: flex;
}
li{
  margin-right: 30px;
  list-style: none;
  justify-content: space-between;
} */

@media (max-width: 768px) {
  body {
    font-size: 0.8em;
    margin: 30px;
    padding: 20px;
    text-align: justify;
  }
  .header-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #a26000;
    width: auto;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
  }
  .header-container p {
    text-align: center;
    font-size: 2em;
    color: white;
    margin-right: 20px;
  }
  .header-ul {
    display: flex;
    padding: 0;
    margin: auto;
  }
  .header-ul li {
    font-size: 1.5em;
    list-style: none;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

@media (min-width:768px){
  body{
    font-size: 1.4em;
    margin: 30px;
    padding: 20px;
    text-align: justify;
  }
  .header-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #861304;
    width: auto;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
  }
  .header-container p {
    text-align: center;
    font-size: 2em;
    color: white;
    margin-right: 20px;
  }
  .header-ul {
    display: flex;
    padding: 0;
    margin: auto;
  }
  .header-ul li {
    font-size: 1.5em;
    list-style: none;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: white;
  }
  .container-asides{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
  }
  .aside-one {
    /* border: 1px solid black; */
    width: 400px;
  }
  .aside-two{
    /* border: 1px solid black; */
    width: 400px;
  }
  .aside-one ul li{
    list-style: none;
  }
  .aside-two ul li{
    list-style: none;
  }
  .titulo-asides{
    text-align: center;
  }
  h1{
    text-align: center;
    color: #861304;
  }
}
