* {
  text-align: justify;
  padding: 5px;
  margin: auto;
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
}
table,
tr,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
  text-align: center;
}
img {
  width: 40%;
  margin: auto;
  display: block;
}
.classificacao-cientifica {
  width: 40%;
  margin: auto;
}




.referencias{
  background-color: lightgray;
  width: 50%;
}