ol { 
    background-color: yellow;
}
ol li.par{
    color: green;
}
ol li.impar{
    text-transform: uppercase;
}
h1, h3 {
    color: red;
}
h1.italico{
    font-size: 40px;
    border: 1px solid black;
}