div:hover{
    border: 3px dashed black;
}
.primaria {
    background-color: rgb(236, 87, 87);
    color: white
}
.secundaria{
    background-color: coral;
    color: blue;
}
.complementar{
    background-color: rgb(147, 77, 51);
    color: chartreuse;
}
.escura{
    background-color: brown;
    color: deeppink;
}
.clara{
    background-color: lightcoral;
    color: lightgreen;  
}

